.profile {
  background-color: #fff;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-radius: 7px;
  box-shadow: 0px 5px 10px 0px rgba(140, 140, 140, 1);
}

.description {
  text-align: center;
  margin-bottom: auto;
}

.tag {
  margin-bottom: 10px;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #e9edf7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #ced1db;
  position: relative;
  &::after,
  &::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #ced1db;
    position: absolute;
    top: 0;
  }

  &::after {
    left: 33%;
  }

  &::before {
    right: 33%;
  }
}

.stats-item {
  text-align: center;
  flex-basis: calc(100% / 3);
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.label {
  margin-bottom: 5px;
}

.quantity {
  font-weight: 700;
  color: #212124;
}
